<a href="https://colab.research.google.com/github/AlekseiMikhalev/Data-Scientist-Learning-Path/blob/master/Cleaning_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## In this notebook I collected the data cleaning methods for further use in data science projects. The source of this methods is the various tutorials from Kaggle users.

### __Take a first look at the data__

In [0]:
# Import the necessary libraries

import pandas as pd
import numpy as np

In [0]:
# read in all our data from Hack startup
hack_data = pd.read_csv("/content/hack_startup_funding.csv")

# set seed for reproducibility
np.random.seed(0)

In [8]:
# look at a few random rows of the ycom_data file. I can check if I can see any missing data.
hack_data.sample(5)

     SNo        Date   StartupName  ...  InvestmentType AmountInUSD Remarks
582  582  30/11/2016  Interviewpad  ...    Seed Funding     100,000     NaN
477  477  14/12/2016       Fitpass  ...    Seed Funding   1,000,000     NaN
215  215  13/04/2017    SafetyKart  ...  Private Equity         NaN     NaN
789  789  22/08/2016       Zzungry  ...    Seed Funding         NaN     NaN
529  529  05/11/2016       Bizongo  ...  Private Equity   3,000,000     NaN

[5 rows x 10 columns]

Yes, it looks like there is some missing data.

__Calculate how many missing data points we have in each column__

In [9]:
# get the number of missing data points per column
missing_values_count = hack_data.isnull().sum()

# look at the number of missing points in the first ten columns
missing_values_count[0:10]

SNo                    0
Date                   0
StartupName            0
IndustryVertical     171
SubVertical          936
CityLocation         179
InvestorsName          8
InvestmentType         1
AmountInUSD          847
Remarks             1953
dtype: int64

Let's get the percentage of the values in our dataset that are missing. It gives us a better sense of the scale of this problem:

In [10]:
# how many total missing values do we have?
total_cells = np.product(hack_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

17.263912310286678

17.2% is not that much, so I suppose we can work on filling them

__Figure out why the data is missing__