<a href="https://colab.research.google.com/github/AlekseiMikhalev/Data-Scientist-Learning-Path/blob/master/Python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# __Travis - dummy security checker__

In [0]:
#Travis
known_users = ['Alice', 'Bob','Claire', 'Dan', 'Emma', 'Fred', 'George', 'Harry']
print(len(known_users))

8

In [0]:
while True:
  print('Hi! My name is Travis')
  name = input('What is your name?').strip().capitalize()
  if name in known_users:
    print('Hello {}!'.format(name), 'You are welcome! Enjoy the party!')
    remove = input('Would you like to be removed from the system (y/n)?:').lower()
    if remove == 'y':
      known_users.remove(name)
    elif remove == 'n':
        print('No problem, I didn\'t want you to leave anyway!')

  else:
    print('Sorry {}'.format(name), 'You are not in the list')
    add_me = input('Would you like to be added to the system (y/n):').strip().lower()
    if add_me == 'y':
      known_users.append(name)
    elif add_me == 'n':
        print('No worries, see you around!')

In [0]:
known_users.insert(1, ['Alex', 'Mila', 'John']) # insert list into the list

In [0]:
known_users

In [0]:
students = {}
students = {'Alice':25, 'Bob':27, 'Claire':17, 'Dan':21, 'Emma':22}

In [0]:
del students['Fred']

In [0]:
a = list(students.values())
a

In [0]:
students.keys()

In [0]:
a[2]

In [0]:
students.items()

In [0]:
students = {'Alice':['ID0001', 26, 'A'], 'Bob':['ID0002', 27, 'B'], 'Claire':['ID0003', 17, 'C'], 'Dan':['ID0004', 21, 'D'], 'Emma':['ID0005', 22, 'E']}

In [0]:
students['Claire']

In [0]:
students['Claire'][0]

In [0]:
students = {'Alice':{'ID': '0001', 'AGE': 26, 'GRADE': 'A'}, 'Bob':{'ID': '0002', 'AGE': 27, 'GRADE': 'B'}, 'Claire':{'ID':'0003', 'AGE': 17, 'GRADE': 'C'}, 'Dan':{'ID': '0004', 'AGE': 21, 'GRADE': 'D'}, 'Emma':{'ID': '0005', 'AGE': 22, 'GRADE': 'E'}}

In [0]:
students['Alice']['ID']

# __Cinema Simulator__

In [0]:
films = {'Finding Dory':[3, 5], 'Bourne':[18, 5], 'Tarzan':[15, 5], 'Ghost Busters':[12, 5]}

In [0]:
while True:
  choice = input('What film would you like to watch?').strip().title()
  if choice in films:
    age = int(input('How old are you?').strip())
    if age >= films[choice][0]: # check user age
      # check enough seats
      num_seats = films[choice][1]
      if num_seats > 0:
        print('Enjoy the film')
        films[choice][1] = films[choice][1] - 1 
      else:
        print('Sorry, we are sold out!')
    else:
      print('You are too young to see that film')
    pass
  else:
    print('We don\'t have that film...')

## _While_ __Loop__

In [0]:
number = 1
while number <= 10:
  print(number)
  number = number + 1

In [0]:
number = 1
while number <= 10:
  if number % 2 == 0:
    print(number)
  number = number + 1

In [0]:
L = []

while len(L) < 3:
  new_name = input('Please add a new name:').strip().capitalize()
  L.append(new_name)
print('Sorry, list is full')
print(L)

# __Baby Conversation Simulator__

In [0]:
from random import choice

questions = ['Why is the sky blue?', 'Why is there a face on the moon?',
             'Where are all the dinosaurs?']
question = choice(questions)

answer = input(question).strip().lower()

while answer != 'just because':
  answer = input('Why?:').strip().lower()
print('Oh...Okay')

## _For_ __Loop__

In [0]:
for number in range(1,11):
  print(number)

In [0]:
for letter in 'abcde':
  print(letter)

In [0]:
for number in range(1, 20, 4): # step = 4
  print(number)

In [0]:
vowels = 0
consonants = 0

for letter in 'Hello':
  if letter.lower() in 'aeiou':
    vowels = vowels + 1
  elif letter == '':
    pass
  else:
    consonants = consonants + 1

print('There are {} vowels'.format(vowels))
print('There are {} consonants'.format(consonants))

In [0]:
students = {'male': ['Tom', 'Charlie', 'Harry', 'Frank'],
            'female': ['Sarah', 'Huda', 'Samantha', 'Emily', 'Elizabeth']}

for key in students.keys():
  # print(students[key])
  for name in students[key]:
    if 'h' in name:
      print(name)

In [0]:
# Lambda
even_numbers = [x for x in range(1, 10) if x % 2 == 0]
print(even_numbers)

In [0]:
words = ['the', 'quick', 'brown', 'fox', 'jumps']
answer = [[w.upper(), w.lower(), len(w)] for w in words]
print(answer)

# __Pig Latin__

1. Get sentence from user
2. Split sentence into words
3. Loop through words and convert to pig latin
4. Stick words back together
5. Output the final string

In [0]:
# Get sentence from user
original = input('Please enter a sentence').strip().lower()

# Split sentence into words
words = original.split()

new_words = []
# Conversion rules:
# if it starts with vowel, just add 'yay'
# otherwise, move first consonant cluser to end, and add 'ay'

# Loop through words and convert to pig latin
for word in words:
  if word[0] in 'aeiou':
    new_word = word + 'yay'
    new_words.append(new_word)
  else:
    vowels_pos = 0
    for letter in word:
      if letter not in 'aeiou':
        vowels_pos = vowels_pos + 1
      else:
        break
    cons = word[:vowels_pos]
    the_rest = word[vowels_pos:]
    new_word = the_rest + cons + 'ay'
    new_words.append(new_word)

# Stick words back together
output = ' '.join(new_words)

# Output the final string
print(output)

## __Functions__

In [8]:
def about(name, age, likes = 'Python'): # default parameters must go at the end
  sentence = 'Meet {}! They are {} years old and they like {}'.format(name, age, likes)
  return sentence

about('Jack', 23)

'Meet Jack! They are 23 years old and they like Python'

## __Packing and Unpacking__

In [9]:
numbers = [1, 2, 3, 4, 5, 6]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [10]:
print(*numbers) # * - unpack arguments into separate items

1 2 3 4 5 6

In [11]:
print(*'abc')

a b c

In [12]:
def add(x, y):
  return x + y

add(10, 10)

20

In [14]:
def add(*numbers): # packing 
  total = 0
  for number in numbers:
    total = total + number
  return(total)

add(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [17]:
def about(name, age, likes): # default parameters must go at the end
  sentence = 'Meet {}! They are {} years old and they like {}'.format(name, age, likes)
  return sentence

dictionary = {'name': 'Alex', 'age': 32, 'likes': 'Python'} # order doesnt' matter, keys are important

about(**dictionary)

'Meet Alex! They are 32 years old and they like Python'

In [19]:
def foo(**kwargs):
  for key, value in kwargs.items():
    print('{}:{}'.format(key, value))

foo(huda = 'female', ziyad = 'male', john = 'male', alex = 'male')

huda:female
ziyad:male
john:male
alex:male

# __Tic Tac Toe Project__

In [0]:
board = [' ' for i in range(9)]

def print_board():
  row1 = '| {} | {} | {} |'.format(board[0], board[1], board[2])
  row2 = '| {} | {} | {} |'.format(board[3], board[4], board[5])
  row3 = '| {} | {} | {} |'.format(board[6], board[7], board[8])

  print()
  print(row1)
  print(row2)
  print(row3)
  print()

def player_move(icon):
  if icon == 'X':
    number = 1
  elif icon == 'O':
    number = 2
  print('Your turn player {}'.format(number))

  choice = int(input('Enter your move(1-9):').strip())
  if board[choice - 1] == ' ':
    board[choice - 1] = icon
  else:
    print()
    print('That space is taken!')

def is_victory(icon):
  if(board[0] == icon and board[1] == icon and board[2] == icon) or \
    (board[3] == icon and board[4] == icon and board[5] == icon) or \
    (board[6] == icon and board[7] == icon and board[8] == icon) or \
    (board[0] == icon and board[3] == icon and board[6] == icon) or \
    (board[1] == icon and board[4] == icon and board[7] == icon) or \
    (board[2] == icon and board[5] == icon and board[8] == icon) or \
    (board[0] == icon and board[4] == icon and board[8] == icon) or \
    (board[2] == icon and board[4] == icon and board[6] == icon):
    return True
  else:
    return False

def is_draw():
  if ' ' not in board:
    return True
  else:
    return False

while True:
  print_board()
  player_move('X')
  print_board()
  if is_victory('X'):
    print('X Wins! Congratilations!')
    break
  elif is_draw():
    print('Its a draw!')
    break
  player_move('O')
  if is_victory('O'):
    print_board()
    print('O Wins! Congratilations!')
    break
  elif is_draw():
    print('Its a draw!')
    break