In [0]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import recall_score, precision_score, f1_score

In [0]:
DATA_JSON_FILE = '/content/email-text-data.json'

In [0]:
data = pd.read_json(DATA_JSON_FILE)

In [0]:
data.head()

   CATEGORY  ...                               FILE_NAME
0         1  ...  00249.5f45607c1bffe89f60ba1ec9f878039a
1         1  ...  00373.ebe8670ac56b04125c25100a36ab0510
2         1  ...  00214.1367039e50dc6b7adb0f2aa8aba83216
3         1  ...  00210.050ffd105bd4e006771ee63cabc59978
4         1  ...  00033.9babb58d9298daa2963d4f514193d7d6

[5 rows x 3 columns]

In [0]:
data.shape

(5796, 3)

In [0]:
data.sort_index(inplace=True)

In [0]:
data.tail()

      CATEGORY  ...                               FILE_NAME
5791         0  ...  00609.dd49926ce94a1ea328cce9b62825bc97
5792         0  ...  00957.e0b56b117f3ec5f85e432a9d2a47801f
5793         0  ...  01127.841233b48eceb74a825417d8d918abf8
5794         0  ...  01178.5c977dff972cd6eef64d4173b90307f0
5795         0  ...  00747.352d424267d36975a7b40b85ffd0885e

[5 rows x 3 columns]

In [0]:
vectorizer = CountVectorizer(stop_words='english')

In [0]:
all_features = vectorizer.fit_transform(data.MESSAGE)

In [0]:
all_features.shape

(5796, 102694)

In [0]:
# vectorizer.vocabulary_

In [0]:
X_train, X_test, y_train, y_test = train_test_split(all_features, data.CATEGORY,
                                                    test_size=0.3, random_state=88)

In [0]:
X_train.shape

(4057, 102694)

In [0]:
X_test.shape

(1739, 102694)

In [0]:
classifier = MultinomialNB()

In [0]:
classifier.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
# Calculate the number of documents classified correctly
nr_correct = (y_test == classifier.predict(X_test)).sum()

In [0]:
print(f'{nr_correct} documents classified correctly')

1660 documents classified correctly

In [0]:
# Calculate the number of documents classified incorrectly
nr_incorrect = y_test.size - nr_correct

In [0]:
print(f'Number of documents incorrectly classified is {nr_incorrect}')

Number of documents incorrectly classified is 79

In [0]:
# Fraction
fraction_wrong = nr_incorrect / (nr_correct + nr_incorrect)
print(f'The (testing) accuracy of the model is {1-fraction_wrong:.2%}')

The (testing) accuracy of the model is 95.46%

In [0]:
# Another way to calculate the accuracy
classifier.score(X_test, y_test)

0.9545715928694652

In [0]:
recall_score(y_test, classifier.predict(X_test))

0.8646209386281588

In [0]:
precision_score(y_test, classifier.predict(X_test))

0.9917184265010351

In [0]:
f1_score(y_test, classifier.predict(X_test))

0.9238187078109932

In [0]:
example = ['get viagra for free now!', 'need a mortgage? Reply to arrange a call with a specialist and get a quote',
           'Could you please help me with the project for tomorrow?', 
           'Hello Man, how about a game of rugby tomorrow?']

In [0]:
doc_term_matrix = vectorizer.transform(example)

In [0]:
classifier.predict(doc_term_matrix)

array([1, 1, 0, 0])